/GEngine/.vs/GravityEngine/v15/*
/GEngine/Debug/*
/GEngine/GEditor/bin
/GEngine/GEditor/obj
/GEngine/GWinformLib/obj
/GEngine/ThirdParty
/GEngine/packages
!/GEngine/Debug/Project
!/GEngine/Debug/WPF.Themes.dll
!/GEngine/.vs/GravityEngine/v15/.suo